/* Document: style.css of the jWorkSheet
 * License : GNU/GPL 2.0
 * Author  : PPone(c)2008-2009
 */

*, h1, h2, h3, h4, a img, table, td, th {
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 8px;
}
h2 {
    color: blue;
}
table, th, td {
    border: 0px none;
}
th, td {
    padding: 2px 5px;
}
th {
    background-color: #def8f8;
}

table.border {
    border: 1px solid silver;
}
table.border th,
table.border td {
    border-bottom: 1px solid silver;
    border-right : 1px solid silver;
}

th.dayOff,
.dayOff  {
    background-color: #fddce1;
}
td.total,
tr.total td {
    background-color: #fcfddc;
    text-align: right;
    white-space: nowrap;
}
hr {
    margin-top: 20px;
}

.footer {
    text-align: center; color: gray;
}
.footer img {  /** Loogo: */
    width: 16px;
    height: 16px;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
.smallMonth {
    font-size: 10px;
}
table.events .projId,
table.events .taskId {
    font-size: 10px;
    vertical-align: top;
}
table td.alignLeft,
.alignLeft {
    text-align: left;
}
.num {
    text-align: right;
    white-space: nowrap;
}
table.projects td {
    white-space: nowrap;
}
