/* Document: style.css of jWorkSheet
 * Author  : PPone(c)2008
 */

body{ font-family: Arial, sans-serif; } 
h2  { color: blue; }
table th { background-color: #def8f8;  }
table th.dayOff, .dayOff { background-color: #fddce1; }
table tr.total td, td.total { background-color: #fcfddc; text-align: right;}
hr  { margin-top: 20px; }
.footer { text-align: center; color: gray;  }
table.events .projId, table.events .taskId, .smallMonth { font-size: x-small; vertical-align: top; }
table tr td.alignLeft, .alignLeft {text-align: left;}
