a img {
    border: none;
}

.post .meta {
	border-top: none;
	border-bottom: 1px solid #3E5C0E;    
}

table.top td {
	/* vertical-align: top; */
	padding-bottom: 8px;
}

#logo h1 {style.css (line 137)
	font-family: Arial,Helvetica,sans-serif;
}

#logo h1 {
	text-transform: none;
	font-size: 50px;
}

#logo h2 {
	font-size: 16px;
}

#sidebar h2 {
         background-color: #74a3e0;
}

.post {
       padding-bottom: 10px;
}

.post .title a {
	text-decoration: none;
	color: #2244a1;
}

body {
   /*  background-color: #d8ecde;
       background-color: #e6ebfe; */
       background-color: #cbdcf2;

}

/* ----- Tools -------- */

.subTitle {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #2B4E15;
}
